/*------------------------body-----------------------*/

body{
    width: 100%;
    height: 50%;
}

/*----------------------div contact-----------------*/

.contact{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

/*------------------titre (h1 et h4)---------------*/

.contact-title{
    font-family: 'Roboto', sans-serif;
}

.contact-title h4{
    font-family: 'Source Sans 3', sans-serif;
}

/*----------------contact avec dic qui gere 3 div---------------*/

.contact-choice{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------div gauche--------------*/

.contact-choice-rating-left{
    width: 300px;
    height: 300px;
    border-top: rgb(102, 186, 255) 10px solid;
    border-radius: 2.5%;
    box-shadow: 1px 1px 12px #555;
    margin-top: 15px;
}

.contact-choice-rating-left p{
    font-family: 'Source Sans 3', sans-serif;
    text-align: justify;
    margin: 25px;
}

button.button-contact-choice-rating-left {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 25px;
    border: rgb(102, 186, 255) 2px solid;
    padding: 10px 25px;
    color: rgb(102, 186, 255);
}

button.button-contact-choice-rating-left:hover{
    background:rgb(102, 186, 255);
    color: white;
}

button.button-contact-choice-rating-left:active{
    background:rgb(102, 150, 255);
    color: white;
}

/*--------------------div milieu--------------*/

.contact-choice-middle{
    width: 300px;
    height: 350px;
    border-top: rgb(102, 255, 110) 10px solid;
    margin:2.5% 5%;
    border-radius: 2.5%;
    box-shadow: 1px 1px 12px #555;
    margin-top: 15px;
}

.contact-choice-middle p{
    font-family: 'Source Sans 3', sans-serif;
    text-align: justify;
    margin: 25px;
}

button.button-contact-choice-middle {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 25px;
    border: rgb(102, 255, 110) 3px solid;
    padding: 10px 25px;
    color: rgb(102, 255, 110);
}

button.button-contact-choice-middle:hover{
    background:rgb(102, 255, 110);
    color: white;
}

button.button-contact-choice-middle:active{
    background:rgb(102, 219, 110);
    color: white;
}

/*----------------------div droite----------------*/

.contact-choice-rating-right{
    width: 300px;
    height: 300px;
    border-top: rgb(102, 102, 255) 10px solid;
    border-radius: 2.5%;
    box-shadow: 1px 1px 12px #555;
    margin-top: 15px;
}

.contact-choice-rating-right p{
    font-family: 'Source Sans 3', sans-serif;
    text-align: justify;
    margin: 25px;
}

button.button-contact-choice-rating-right {
    background-color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 25px;
    border: rgb(102, 102, 255) 2px solid;
    padding: 10px 25px;
    color: rgb(102, 102, 255);
}

button.button-contact-choice-rating-right:hover{
    background:rgb(102, 102, 255);
    color: white;
}

button.button-contact-choice-rating-right:active{
    background:rgb(102, 66, 255);
    color: white;
}

/*----------------font globale pour h3 dans les 3 div--------------*/

.contact-choice-rating-left h3,.contact-choice-middle h3,.contact-choice-rating-right h3{
    font-family: 'Roboto', sans-serif;
}

/*--------------------Responsive-------------------*/

@media screen and (max-width:1100px){
    .contact-choice{
        flex-wrap:wrap;
    }
    .contact-title h4{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
}